ion-content{
    --background:url('../../assets/img/background.jpeg') 0 0/100% 100% no-repeat;
}
ion-toolbar{
    --background: #E0BEB9;
    text-align: center;
    color: #0F1515;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
 width: 120px;
padding: 10px 20px;

}
button{
   
}
.login{
      margin-top: 10px;
    text-align: center;
    color: #fff;
    --background: #32251F;     
    border-radius: 10px;
    display: inline-block;
    border: none;
    margin-left:5%;
    margin-right: 5%;
    width: 90%;
    height: 35px;
    font-size: 15px;
}

input,ion-input,{
    background: transparent;
    color: #000000;
    padding: 15px 32px;
    font-size: 20px;
    margin: 5px;
    width: 85%;
    border: none;
    transition: all .5s ease-in-out;    
    height: 35px;
    text-align:left;
    margin: 0 auto;
    margin-bottom: 10px;
    
}
::placeholder {
    color: #E0BEB9;
  }
  ion-icon{
  width: 30px;
  height:30px;
  position: absolute;
  right: -8px;
  margin-top: 3px;
  color: #000000;
  }
  ion-item{
    --background: transparent;
    text-align: left;
  color: #000000;
  }
  ion-label{
      font-size: 20px;
  }